<?xml version="1.0" encoding="UTF-8"?><manifest android:installLocation="preferExternal" android:versionCode="56324" android:versionName="1.2" package="com.singmaan.giveitupstack.m4399" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <uses-sdk android:targetSdkVersion="17"/>
    <uses-feature android:name="android.hardware.type.television" android:required="true"/>
    <application android:icon="@drawable/app_icon" android:label="@string/app_name" android:name="com.qinbatista.mercury.QinApplication">
        <activity android:configChanges="orientation|screenSize" android:name="com.qinbatista.mercury.MainActivity" android:screenOrientation="landscape" android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
<!--sdk-->        <!--以下为广告配置开始-->
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

        <activity
            android:name="cn.m4399.ad.control.ui.VideoLandActivityAlias"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        <activity
            android:name="cn.m4399.ad.control.ui.VideoPortActivityAlias"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        <activity
            android:name="cn.m4399.ad.control.ui.TargetBrowseActivityAlias"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" />
        <activity
            android:name="cn.m4399.ad.control.ui.AndroidGameDetailsAlias"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="behind"
            android:theme="@style/m4399ad.Activity.Transparent" />

        <!--4399admob start-->
        <provider
            android:name="cn.m4399.ad.api.AdFileProvider"
            android:authorities="${applicationId}.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/m4399ad_file_paths"
                />
        </provider>
        <!--4399admob end-->


        <!-- MobgiAds start -->
        <provider
            android:name="com.mobgi.AdFileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/ad_provider_paths" />
        </provider>

        <!-- baidu start -->
        <!-- 如果targetSdkVersion设置值>=24，则强烈建议添加以下provider，否则会影响app变现 -->
        <provider
            android:name="com.baidu.mobads.openad.FileProvider"
            android:authorities="${applicationId}.bdFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/bd_provider_paths" />
        </provider>


        <!-- for baidu xadsdk internal web-browser -->
        <!-- 如果使用信息流模板，点击后播放视频，建议删除对theme的设置，否则影响视频播放UI效果 -->
        <activity
            android:name="com.baidu.mobads.AppActivity"
            android:configChanges="screenSize|keyboard|keyboardHidden|orientation"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.baidu.mobads.production.rewardvideo.MobRewardVideoActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <!-- baidu end -->

        <!-- Oneway Start -->
        <provider
            android:name="mobi.oneway.export.OWProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/ow_file_paths" />
        </provider>

        <activity
            android:name="mobi.oneway.export.AdShowActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <provider
            android:name="mobi.oneway.common.provider.OwGFileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/ow_g_file_path" />
        </provider>
        <provider
            android:name="mobi.oneway.common.provider.OwBFileProvider"
            android:authorities="${applicationId}.bd.provider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/ow_b_file_paths" />
        </provider>

        <!-- Local Service running in main process -->
        <service
            android:name="com.didi.virtualapk.delegate.LocalService"
            android:exported="false" />

        <!-- Daemon Service running in child process -->
        <service
            android:name="com.didi.virtualapk.delegate.RemoteService"
            android:exported="false"
            android:process=":daemon" >
            <intent-filter>
                <action android:name="${applicationId}.intent.ACTION_DAEMON_SERVICE" />
            </intent-filter>
        </service>

        <provider
            android:name="com.didi.virtualapk.delegate.RemoteContentProvider"
            android:authorities="${applicationId}.VirtualAPK.Provider"
            android:exported="false"
            android:process=":daemon" />
        <!-- oneway end -->

        <!-- UniplaySDK start -->
        <!-- joomobSDK嵌入代码开始 -->
        <activity
            android:name="com.uniplay.adsdk.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
        </activity>
        <activity
            android:name="com.uniplay.adsdk.InterstitialAdActivity"
            android:theme="@android:style/Theme.Translucent"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <!-- 5.8.7 新增 -->
        <activity
            android:name="com.uniplay.adsdk.NetworkChangeActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
        <!-- 应用如需上传到”谷歌市场”请务必将 DownloadService 替换为 gdService -->
        <service android:name="com.uniplay.adsdk.DownloadService"/>
        <provider
            android:name="com.uniplay.adsdk.UniPlayFileProvider"
            android:authorities="${applicationId}.uniplay.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/uniplay_file_path" />
        </provider>
        <!-- 6.1.0 新增 -->
        <activity
            android:name="com.joomob.activity.AdVideoActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <!-- joomobSDK嵌入代码结束 -->
        <!--UniplaySDK End-->

        <!-- SigMob Start -->
        <provider
            android:name="com.sigmob.sdk.SigmobFileProvider"
            android:authorities="${applicationId}.sigprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/sigmob_provider_paths"/>
        </provider>
        <!--广告展示Activity -->
        <activity android:name="com.sigmob.sdk.base.common.AdActivity"
            android:theme="@android:style/Theme.DeviceDefault"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <!-- SigMob End -->

        <!-- xy -->
        <provider
            android:name="com.xy.sdk.InitProvider"
            android:authorities="${applicationId}.initprovider"
            tools:replace="android:enabled"
            android:enabled="false"
            android:exported="false" />
        <!-- xy -->

        <!--GDTUnionSDK start-->
        <service
            android:name="com.qq.e.comm.DownloadService"
            android:exported="false"/>
        <activity
            android:name="com.qq.e.ads.ADActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
        <activity
            android:name="com.qq.e.ads.PortraitADActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.qq.e.ads.LandscapeADActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/gdt_file_path" />
        </provider>
        <!--GDTUnionSDK end-->

        <!-- Mobvista start -->
        <activity
            android:name="com.mintegral.msdk.activity.MTGCommonActivity"
            android:configChanges="keyboard|orientation"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <receiver android:name="com.mintegral.msdk.click.AppReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <service android:name="com.mintegral.msdk.shell.MTGService">
            <intent-filter>
                <action android:name="com.mintegral.msdk.download.action" />
            </intent-filter>
        </service>
        <!-- 插页 -->

        <!-- 视频 -->
        <activity
            android:name="com.mintegral.msdk.reward.player.MTGRewardVideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <provider
            android:name="com.mintegral.msdk.base.utils.MTGFileProvider"
            android:authorities="${applicationId}.mtgFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/mtg_provider_paths"/>
        </provider>
        <!-- Mobvista end -->

        <!-- toutiao start -->
        <provider
            android:name="com.bytedance.sdk.openadsdk.TTFileProvider"
            android:authorities="${applicationId}.TTFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/tt_file_paths" />
        </provider>

        <provider
            android:name="com.bytedance.sdk.openadsdk.multipro.TTMultiProvider"
            android:authorities="${applicationId}.TTMultiProvider"
            android:exported="false" />
        <!-- toutiao end -->
<!--end-->    </application>
    
<!--sdkxml-->    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.READ_SMS" />
<!--end-->    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-feature android:glEsVersion="0x00020000"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
    <uses-feature android:name="android.hardware.touchscreen.multitouch" android:required="false"/>
    <uses-feature android:name="android.hardware.touchscreen.multitouch.distinct" android:required="false"/>

</manifest>