MercuryAPKProject/app/src/main/libs/UnityPlugin.jar
app-release.apk
*.apk
__pycache__
PythonCode/cache
Android_WanNianLi/MercuryAPKProject/.idea
Android_SDKTemplate/MercuryJarProject/gradle/.idea
Android_WanNianLi/MercuryJarProject/.idea
.settings
MercurySDK.jar
build_file_checksums.ser
Unity_DemoProject/obj
Unity_DemoProject/Temp
Assembly-CSharp.csproj
MercuryUnityDemo.sln
PluginQin.sln
z_PythonCode/cache
