MercuryAPKProject/app/src/main/libs/UnityPlugin.jar
app-release.apk
*.apk
__pycache__
PythonCode/cache
Android_WanNianLi/MercuryAPKProject/.idea
Android_SDKTemplate/MercuryJarProject/gradle/.idea
Android_WanNianLi/MercuryJarProject/.idea
.settings
build_file_checksums.ser
Unity_DemoProject/obj
Unity_DemoProject/Temp
Assembly-CSharp.csproj
MercuryUnityDemo.sln
PluginQin.sln
z_PythonCode/cache
Android_Tool_Umeng/MercuryAPKProject/.idea
Android_Tool_Umeng/MercuryAPKProject/app
*.
Android_Tool_Umeng/MercuryJarProject/.idea
Android_Tool_Umeng/MercuryJarProject/mercury
Android_IAP_WanNianLI/app-release
SingmaanUnitySDK/.vscode
SingmaanUnitySDK/obj
SingmaanUnitySDK/ProjectSettings
SingmaanUnitySDK/Temp
SingmaanUnitySDK.sln
Android_IAP_Singmaan_ISBN/MercuryAPKProject/.idea
Android_SHOW_cha4399/.idea
Android_SHOW_cha4399/MercuryAPKProject/.idea
Android_SHOW_cha4399/MercuryAPKProject_pure/.idea
Android_SHOW_cha4399/MercuryJarProject/.idea
z_PythonCode/Android_BASE__Template/MercuryJarProject/.idea
Android_SHOW_jiuyou/MercuryJarProject/.idea
Android_SHOW_Xiaomi/MercuryAPKProject/.idea
Android_SHOW_Xiaomi/MercuryAPKProject_pure/gradle/wrapper
Android_SHOW_Xiaomi/MercuryAPKProject/gradle/wrapper
Android_SHOW_Xiaomi/MercuryAPKProject_pure/.idea
Android_BASE_Umeng_V3/MercuryAPKProject/.idea
Android_BASE_Umeng_V3/MercuryAPKProject/gradle
Android_BASE_Umeng_V3/MercuryAPKProject_pure/.idea
Android_BASE_Umeng_V3/MercuryAPKProject_pure/gradle
Android_BASE_Umeng_V3/MercuryJarProject/.idea
Android_BASE_Umeng_V3/MercuryJarProject/gradle
*.
Android_BASE_Talkingdata_V1/MercuryAPKProject/gradle
Android_BASE_Talkingdata_V1/MercuryAPKProject_pure/.idea
Android_BASE_Talkingdata_V1/MercuryAPKProject_pure/gradle
Android_BASE_Talkingdata_V1/MercuryJarProject/.idea
Android_BASE_Talkingdata_V1/MercuryJarProject/gradle
Android_SHOW_4399_V2/MercuryAPKProject/.idea
Android_SHOW_4399_V2/MercuryAPKProject/gradle
Android_SHOW_4399_V2/MercuryAPKProject_pure/.idea
Android_SHOW_4399_V2/MercuryAPKProject_pure/gradle
Android_SHOW_4399_V2/MercuryJarProject/.idea
Android_SHOW_4399_V2/MercuryJarProject/gradle
Android_SHOW_taptap/MercuryAPKProject/.idea
Android_SHOW_taptap/MercuryAPKProject/gradle
Android_SHOW_taptap/MercuryAPKProject_pure/.idea
Android_SHOW_taptap/MercuryAPKProject_pure/gradle
Android_SHOW_taptap/MercuryJarProject/.idea
Android_SHOW_taptap/MercuryJarProject/gradle
Android_IAP_taptap/MercuryAPKProject/gradle
Android_IAP_taptap/MercuryAPKProject/.idea
Android_IAP_taptap/MercuryAPKProject_pure/.idea
Android_IAP_taptap/MercuryAPKProject_pure/gradle
Android_IAP_taptap/MercuryJarProject/.idea
Android_IAP_taptap/MercuryJarProject/gradle
Android_Show_ChuanShanJia/MercuryAPKProject/.idea
Android_Show_ChuanShanJia/MercuryAPKProject_pure/.idea
