<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.singmaan.giveitupstack.uc"
    android:installLocation="preferExternal"
    android:versionCode="56324"
    android:versionName="1.2" >
    <uses-sdk android:targetSdkVersion="17" />
    <uses-feature
        android:name="android.hardware.type.television"
        android:required="true" />
    <application
        android:name="com.mercury.game.MercuryApplication">
        <activity
            android:name="com.mercury.game.MercuryActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
			<!--main-->
           <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
			<!--end-->
        </activity>

		<!--sdk-->
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <service android:name="com.qq.e.comm.DownloadService" android:exported="false" android:multiprocess="true"/>
        <activity android:name="com.qq.e.ads.ADActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:multiprocess="true"/>
        <activity android:screenOrientation="portrait" android:name="com.qq.e.ads.PortraitADActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:multiprocess="true"/>
        <activity android:screenOrientation="landscape" android:name="com.qq.e.ads.LandscapeADActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:multiprocess="true"/>
        <activity android:name="com.qq.e.ads.RewardvideoPortraitADActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:theme="@android:style/Theme.Translucent" android:multiprocess="true"/>
        <activity android:name="com.qq.e.ads.RewardvideoLandscapeADActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:theme="@android:style/Theme.Translucent" android:multiprocess="true"/>
        <activity android:screenOrientation="portrait" android:name="com.mintegral.msdk.activity.MTGCommonActivity" android:configChanges="keyboard|orientation" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:exported="true"/>
        <receiver android:name="com.mintegral.msdk.click.AppReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <service android:name="com.mintegral.msdk.shell.MTGService">
            <intent-filter>
                <action android:name="com.mintegral.msdk.download.action"/>
            </intent-filter>
        </service>
        <activity android:name="com.mintegral.msdk.reward.player.MTGRewardVideoActivity" android:configChanges="orientation|keyboardHidden|screenSize" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <provider android:name="com.mintegral.msdk.base.utils.MTGFileProvider" android:grantUriPermissions="true" android:exported="false" android:authorities="${applicationId}.mtgFileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/mtg_provider_paths"/>
        </provider>
        <activity android:windowSoftInputMode="adjustResize" android:name="cn.sirius.nga.activity.ProxyActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:name="com.uniplay.adsdk.AdActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.uniplay.adsdk.InterstitialAdActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:theme="@android:style/Theme.Translucent"/>
        <activity android:name="com.uniplay.adsdk.NetworkChangeActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.uniplay.adsdk.VideoAdActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <receiver android:name="com.uniplay.adsdk.PackageReceiver">
            <intent-filter android:priority="2147483647">
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <service android:name="com.uniplay.adsdk.DownloadService"/>
        <provider android:name="com.uniplay.adsdk.UniPlayFileProvider" android:grantUriPermissions="true" android:exported="false" android:authorities="${applicationId}.joomob.fileprovider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/joomob_file_path"/>
        </provider>
        <provider android:name="com.bytedance.sdk.openadsdk.TTFileProvider" android:grantUriPermissions="true" android:exported="false" android:authorities="${applicationId}.TTFileProvider">
            <meta-data xmlns:tools="http://schemas.android.com/tools" tools:replace="android:resource" android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/adp_file_path_toutiao"/>
        </provider>
        <provider xmlns:tools="http://schemas.android.com/tools" tools:replace="android:authorities" android:name="com.bytedance.sdk.openadsdk.multipro.TTMultiProvider" android:exported="false" android:authorities="${applicationId}.TTMultiProvider"/>
        <service android:name="com.ss.android.socialbase.downloader.notification.DownloadNotificationService"/>
        <service android:name="com.ss.android.socialbase.downloader.downloader.DownloadService"/>
        <service android:name="com.ss.android.socialbase.downloader.downloader.IndependentProcessDownloadService" android:process=":downloader">
            <intent-filter>
                <action android:name="com.ss.android.socialbase.downloader.remote"/>
            </intent-filter>
        </service>
        <service android:name="com.ss.android.socialbase.downloader.impls.DownloadHandleService"/>
        <service android:name="com.ss.android.socialbase.appdownloader.DownloadHandlerService"/>
        <activity android:launchMode="singleTask" android:name="com.ss.android.socialbase.appdownloader.view.DownloadSizeLimitActivity" android:theme="@android:style/Theme.Dialog"/>
        <activity android:launchMode="singleTask" android:name="com.ss.android.socialbase.appdownloader.view.DownloadTaskDeleteActivity" android:theme="@android:style/Theme.Dialog"/>
        <activity android:launchMode="singleTask" android:name="com.ss.android.downloadlib.activity.TTDelegateActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <receiver android:name="com.ss.android.downloadlib.core.download.DownloadReceiver"/>
        <receiver android:enabled="true" android:name="com.bytedance.embedapplog.collector.Collector" android:exported="true"/>
        <activity android:launchMode="singleTask" android:name="com.bytedance.sdk.openadsdk.activity.TTLandingPageActivity" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:launchMode="singleTask" android:name="com.bytedance.sdk.openadsdk.activity.TTPlayableLandingPageActivity" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:launchMode="singleTask" android:name="com.bytedance.sdk.openadsdk.activity.TTVideoLandingPageActivity" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:launchMode="singleTask" android:name="com.bytedance.sdk.openadsdk.activity.TTRewardVideoActivity" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:launchMode="singleTask" android:name="com.bytedance.sdk.openadsdk.activity.TTRewardExpressVideoActivity" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:launchMode="singleTask" android:name="com.bytedance.sdk.openadsdk.activity.TTFullScreenVideoActivity" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:launchMode="singleTask" android:name="com.bytedance.sdk.openadsdk.activity.TTFullScreenExpressVideoActivity" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:launchMode="singleTask" android:name="com.bytedance.sdk.openadsdk.activity.TTDelegateActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <service android:name="com.bytedance.sdk.openadsdk.multipro.aidl.BinderPoolService"/>
        <service android:name="com.bytedance.tea.crash.upload.CrashUploadService" android:process=":npth"/>
		<!--end-->
    </application>
	<!--sdkxml-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
	<!--end-->


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <uses-feature android:glEsVersion="0x00020000" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen.multitouch"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen.multitouch.distinct"
        android:required="false" />

</manifest>